.sliding-banner{
	padding: 0px;
	list-style-type: none;
	position: relative;
	text-align: left;
	margin: 0px;
}
.sliding-banner li img{
	width: 100%;
         min-height: 70px;
}
.sliding-banner-item{
	width: 100%;
}
.sliding-banner-container{
	position: relative;
	width: 100%;
	overflow:hidden;
	text-align: center;
}
.sliding-banner-overlay{
	width:100%;
	height: 50px;
	position: absolute;
	height: 100%;
	opacity: 0.5;

}
.sliding-banner-nav{
	position: absolute;
	left:50%;
	top:10px;
	transform:translateX(-50%);
	text-align: center;
	min-width: 300px;
	z-index: 3;
}
.sliding-banner-nav img{
	width:15px;
	margin: 3px;
	z-index: 3;
         display: none;
}
.sliding-banner-content{
        color: #d0ef0b;
        position: absolute;
	font-family: sans-serif;
        z-index: 2;
        right: 7px;
        bottom: 7px;
}
.sliding-banner-content a {
        border-style:solid;
        border-width:2px;
        border-color:#d0ef0b;
        color:#d0ef0b;
        background:none;
        padding: .2em 1em;
        text-transform: uppercase;
        font-size: 70%;
}
