.main-colour {
    --mc: #000;
    color: #000;
}

.sub-colour {
    --sc: #888;
    color: #888;
}


.dark-main-colour  {
    --mc: #fff;
    color: #fff;
}

img.dark-main-colour  {
   -webkit-filter: invert(1);
   filter: invert(1); 
}

.dark-sub-colour {
    --sc: #aaa;
    color: #aaa;
}

.dark-mode {
    background-color: #232323;
}