# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.idea
/.idea/*
.idea/workspace.xml
/.gradle/*
/ttlp-data-parser/*
timstwitterlisteningparty.iml
spring-shell.log
/tools/.gradle
/tools/build/
/tools/out/*
/scripts/response.json
/nbproject/*
/tools/src/main/resources/twitter4j.properties
/pages/list/collection_ ".html
/pages/list/collection_".html
/pages/list/collection_no-replay.html

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
