#float-button {
  visibility: hidden;
  width: 70px;
  height: 70px;
  background-color: #aaa;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  opacity: 0.6;
}

#float-button.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 20px; opacity: 0.6;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20px; opacity: 0.6;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20px; opacity: 0.6;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 20px; opacity: 0.6;}
  to {bottom: 0; opacity: 0;}
}

#timer-div {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  max-width: 550px;
}        
