.main-colour {
    color: #000;
}

.sub-colour {
    color: #888;
}


.dark-main-colour  {
    color: #fff;
}

img.dark-main-colour  {
   -webkit-filter: invert(1);
   filter: invert(1); 
}

.dark-sub-colour {
    color: #aaa;
}

.dark-mode {
    background-color: #232323;
}

.blinking{
    animation:blinkingText 2.0s infinite;
}
@keyframes blinkingText{
    0%{color: #000;}
    49%{color: transparent;}
    50%{color: transparent;}
    69%{color: transparent;}
    100%{color: #000;}
}

.blinking-dark{
    animation:blinkingTextDark 2.0s infinite;
}
@keyframes blinkingTextDark{
    0%{color: #fff;}
    49%{color: transparent;}
    50%{color: transparent;}
    69%{color: transparent;}
    100%{color: #fff;}
}
